.invalid-feedback {
  font-size: 0.9em;
  color: $red;
}
.is-invalid {
  border-color: $red !important;
}
.translateup {
  position: relative;
  top: -0.5rem;
}
.big-icon {
  --art-icon-size: 96px;
  --art-icon-color: rgb(161, 5, 26);
}
.box-center {
  --art-info-box-align: center;
  --art-info-box-background-color: rgb(160, 27, 27);
  --art-info-box-color: #fff;
  --art-info-box-icon-color: #fff;
  --art-info-box-close-icon-color: #ffc
}